<main id="app" class="container-fluid">
  <div v-show="Object.keys(alert).length" class="row fixed-bottom">
    <div
      :class="'alert alert-'+alert.type+' alert-dismissible fade show col-sm-6 offset-md-6'"
      role="alert"
    >
      <i
        :class="'h4 bi bi-'+ (alert.type === 'success' ? 'check-circle-fill' : 'exclamation-triangle-fill')"
      ></i>
      <strong>{{alert.code}}</strong> {{alert.msg}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div class="row">
    <h1 class="mb-5">Lista de Ventas</h1>
    <h4>
      Total en ventas: $ {{new Intl.NumberFormat("co-CO").format(total)}} COP
    </h4>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <td>Fecha</td>
            <td>Cod. Factura</td>
            <td>Producto</td>
            <td>Cantidad</td>
            <td>Precio + IVA</td>
            <td>SubTotal</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in Ventas">
            <td>{{item.Factura.fecha}}</td>
            <td>
              <a
                href="javascript:;"
                class="btn btn-link"
                @click="showFactura(item.Factura)"
                >{{item.Factura.idFactura}}</a
              >
            </td>
            <td>{{item.Producto.nombre}}</td>
            <td>{{item.cantidad}}</td>
            <td>
              $ {{new Intl.NumberFormat("co-CO").format(item.Producto.precio *
              (1 + parseFloat(item.Producto.iva)))}}
            </td>
            <td>
              $ {{new Intl.NumberFormat("co-CO").format((item.Producto.precio *
              (1 + parseFloat(item.Producto.iva))*item.cantidad))}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="Factura.idFactura" class="col-4">
      <div class="row">
        <div class="col-10">
          <h1>Factura</h1>
        </div>
        <div class="col">
          <a href="javascritp:;" @click="Factura = {}; Vendedor">Cerrar</a>
        </div>
      </div>
      <table class="table table-info mt-3">
        <thead>
          <tr>
            <td>Codigo</td>
            <td>Vendedor</td>
            <td>Valor Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{Factura.idFactura}}</td>
            <td>{{Vendedor.nombre}} {{Vendedor.apellido}}</td>
            <td>
              $ {{new Intl.NumberFormat("co-CO").format(Factura.valorTotal)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
